.navbar {
  .ui.fixed.top.sticky {
    width: 100%;
    background-color: black;
  }
  .ui.inverted.segment {
    margin: 0;
    .bars {
      cursor: pointer;
      font-size: 25px;
      @include tablePtoLaptop {
        display: none;
      }
    }
    .menuItem {
      .ui.secondary.inverted.menu {
        justify-content: center;
        flex-direction: column;
        @include tablePtoLaptop {
          flex-direction: row;
        }
      }
      .ui.secondary.inverted.menu a.item {
        color: $white !important;
        padding: 8px 24px;
        font-weight: bold;
      }
    }
  }
}

.useThisTemplateButton {
  position: fixed;
  right: 5%;
  top: 12.5%;
  z-index: 100;
}

.userPicture {
  display: flex;
  justify-content: center;
}
