.AboutContainer {
  width: 80%;
  margin: 0 auto;
  vertical-align: middle;

  .textBox {
    color: white;
    // padding: 0 30px;

    .aboutMe {
      margin-top: 1.5%;
      font-size: 30px;
    }

    .contents {
      margin-top: 1.5%;
      font-size: 18px;
      color: rgba(255, 255, 255, 0.4);
    }

    .buttons {
      // margin-top: 10%;
      color: $white;

      .ui.primary.button {
        width: 150px;
        background-color: #bac964;
        background: #bac964;
        margin-right: 10px;
        margin-bottom: 10px;
      }

      .ui.secondary.button {
        width: 150px;
        background-color: #6c757d;
        background: #6c757d;
      }
    }
  }
}
