@import "../../Mixin.scss";
@import "./Home/Home.scss";
@import "./About/About.scss";
@import "./Experience/Experience.scss";
@import "./Contact/Contact.scss";
@import "./Skills/Skills.scss";

.layout2 {
  .ant-drawer {
    .ant-drawer-content {
      .ant-drawer-body {
        background-color: #e8e8e8 !important;
        .navbar {
          .imgWrapper {
            margin-top: 25px;
            text-align: center;
          }
          .siderContents {
            h2 {
              margin : 0;
            }
  
            .menu {
              margin : 25px 0;
            }
          }
        }
      }
    }
  }
  .layout {
  
    @include tabletP {
      margin-left: 256px;
    }
    .ant-layout-sider {
      .ant-layout-sider-children {
        background-color: #e8e8e8 !important;
        .navbar {
          width: 256px;
          height: 100vh;
          position: fixed;
          top: 0;
          left: 0;
  
          .imgWrapper {
            margin-top: 25px;
            text-align: center;
          }
          .siderContents {
            h2 {
              margin : 0;
            }
    
            .menu {
              margin : 25px 0;
            }
          }
        }
      }
    }
  }  
}
