.MainHeader{
    justify-content: center;
    .ui.grid.column {
        justify-content: center;
        .ui.menu {
            justify-content: center;
            .ui.text.menu {
                justify-content: center;
            }
        }
    }

    
}