.contact {
  color: $white;
  text-align: center;

  .contactTitle {
    color: $white;
    font-weight: 600;
  }
  .userInfo {
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 6%;
    margin-bottom: 2%;
    margin-left: 15%;
    margin-right: 15%;

    h4 {
      color: #5e5a80;
      font-weight: 900;
    }

    @include mobileL {
      margin-left: 8%;
      margin-right: 8%;
    }

    @include tablePtoLaptop {
      display: flex;
      justify-content: space-evenly;
    }

    @include desktop {
      margin-left: 3%;
      margin-right: 3%;
    }
  }
  .resumeIcon {
    text-align: center;
    margin-bottom: 30px;
  }
}
