.homeContainer {
  min-height: 100vh;
  background: url("../../../Assets/layout2/homeBackground.jpg") center center/cover no-repeat;

  .contents {
    color: #e9ede9;
    font-size: 60px;
    line-height: 1.3;
    font-weight: 700;
    padding-top: 70vh;
    text-align: center;
    font-family: "Playfair Display", Georgia, serif;
  }
}