.SkillsContainer {
  width: 80%;
  margin: 0 auto;

  .skillsTitle {
    color: white;
    justify-content: center;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 5%;
    font-weight: 600;
  }

  .ui.grid {
    margin-bottom: 15%;
  }

  .skillCard {
    padding: 0;
    color: $white;

    .img {
      background-color: #bac964;
      background: #bac964;
    }

    .contents {
      margin: 0 auto;
      padding: 5%;
      background-color: $darkgray;
    }

    .name {
      color: $white;
      text-align: center;
      font-weight: 600;
      margin-top: 4%;
    }

    .description {
      margin-top: 8%;
      color: $lilywhite;
      font-size: medium;
    }
  }
}
