$white: #fdfdfd;
$black: #1b1c1d;
$lighterblue: #f3fafe;
// $lightblue: #dbf0fd;
$darkblue: #6ca4c8;
$darkerblue: #5e90af;

// Semantic-ui

@import "semantic-ui-css/semantic.min.css";

// MainPage

@import "./Components/Mainpage/MainPage.scss";

// Home Components

@import "./Components/Layout1/Home/Home.scss";

// Portfolio Components

@import "./Components/Layout1/Portfolio/Portfolio.scss";

// Portfolio Components

@import "./Components/Layout1/Resume/Resume.scss";

// About Components

@import "./Components/Layout1/About/About.scss";

// Skills Components

@import "./Components/Layout1/Skills/Skills.scss";
